.html-content {
    overflow-y: auto;
    padding: 0;
}
.preview-wrapper {    
    width: 62vw;
    height: 112vh;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
}

.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-items: center;
}

.main-image {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
}
