$colors: (
    primary: rgb(0, 0, 0),
    secondary: rgb(179, 179, 179),
    bg: rgb(255, 255, 255),
);

.html-content {
    --primary: #{map-get($colors, primary)};
    --secondary: #{map-get($colors, secondary)};
    --bg: #{map-get($colors, bg)};
}

@mixin colors($property, $varName) {
    #{$property}: map-get($colors, $varName);
    #{$property}: var(--#{$varName});
}

@mixin mediaQuery($breakpoint) {
    @if $breakpoint == 'SMARTPHONE' {
        @media (min-width: 375px) and (max-width: 812px) {
            @content;
        }
    } @else if $breakpoint == 'TABLET' {
        @media (min-width: 768px) and (max-width: 1024px) {
            @content;
        }
    } @else if $breakpoint == 'DESKTOP' {
        @media (min-width: 1024px) and (max-width: 1440px) {
            @content;
        }
    } @else if $breakpoint == 'LARGE_DESKTOP' {
        @media (min-width: 1440px) and (max-width: 2560px) {
            @content;
        }
    } @else if $breakpoint == 'WIDESCREEN' {
        @media (min-width: 2560px) {
            @content;
        }
    }
}

.html-content {
    overflow-y: auto;
    padding: 0;
}
.preview-wrapper {    
    width: 64vmax;
    height: 62vmax;
    min-width: 920px;
    min-height: 900px;
    max-width: 1110px;
    max-height: 1090px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.01);
    box-sizing: border-box;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    
    &::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

    font-family: NeueMachina, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.05em;
    @include mediaQuery(SMARTPHONE) {
        font-size: 0.8rem; 
        width: 80vw;
        height: 80vh;
        min-width: 440px;
        min-height: 990px;
    }
    @include mediaQuery(DESKTOP) {
        font-size: 1.2rem; 
    }
}

.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, minmax(80px, 1fr));
    grid-template-rows: 80px;
    grid-auto-rows: minmax(190px, 1fr);
    justify-items: center;

    @include mediaQuery(SMARTPHONE) {
        grid-template-columns: repeat(6, minmax(40px, 1fr));
        grid-auto-rows: auto;
        grid-row-gap: 10px;
        padding-top: 40px;
    }
}

.mobileBackButton {
    height: 50px;
    width: 50px;
    font-size: 3em;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid;
    @include colors(border-color, secondary);
    &:active {
        transform: scale(0.9);
        transition: transform 0.1s ease-in-out;
    }
}

.title-card {
    @include colors(background-color, bg);
    padding: 10px;
    align-content: center;
    position: relative;
    border-top: 1px dashed;
    @include colors(border-top-color, secondary);
    border-right: 1px solid;
    @include colors(border-right-color, secondary);
    font-size: 0.8rem;
    margin-top: -15px;
    right: 15px;
    
    //line decorations for text container
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
    }
    
    &::before {
        width: 96%;
        height: 70%;
        right: 0;
        border-top: 1px solid;
        @include colors(border-top-color, secondary);
        border-left: 1px solid;
        @include colors(border-left-color, secondary);
        border-bottom: 1px dashed;
        @include colors(border-bottom-color, secondary);
    }
    
    &::after {
        width: 30%;
        height: 90%;
        left: 0;
        border-bottom: 1px solid;
        @include colors(border-bottom-color, secondary);
        border-left: 1px solid;
        @include colors(border-left-color, secondary);
    }
    
    &.flip {

        left: 15px;
        border-bottom: 1px solid;
        @include colors(border-bottom-color, secondary);
        border-left: 1px dashed;
        @include colors((border-left-color), secondary);

        &::before {
            width: 96%;
            height: 70%;
            top: 0;
            left: 0;
            border-top: 1px solid;
            @include colors(border-top-color, secondary);
            border-right: 1px solid;
            @include colors(border-right-color, secondary);
            border-bottom: 1px dashed;
            @include colors(border-bottom-color, secondary); 
        }
        &::after {
            width: 30%;
            height: 90%;
            left: unset;
            right: 0;
            border-bottom: none;
            border-left: none;
        }
    }
}

.title-wrapper {
    grid-column: 2/6;
    grid-row: 1/1;
    z-index: 10;
    padding: 25px;
    margin-top: 0px;
    right: 0px;

    h1 {
        font-family: Crude;
        font-size: 28px;
        font-weight: normal;
        letter-spacing: 0.1em;
        // padding: 15px;
        // border: 1px solid rgb(111, 111, 111);
    }

    @include mediaQuery(SMARTPHONE) {
        grid-column: 1/7;
        grid-row: 1/1;
        h1 {
            font-size: 20px;
        }
    }
}



.image-wrapper, .video-wrapper {
    position: relative;
    z-index: 9;
    
    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.2);
        z-index: 999;
    }
}

.main-image {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    // justify-self: end;

    transition: transform 0.2s ease-in-out;
    &:hover {
        transform: scale(1.2);
        z-index: 999;
    }

    @include mediaQuery(SMARTPHONE) {
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        justify-self: center;
    }
}

.item-1 {
    &.tri, &.inline-left, &.inline-right, &.inline-bottom {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
        justify-self: flex-start;
        align-self: center;
        
        @include mediaQuery(SMARTPHONE) {
            grid-column: 3 / 5;
            grid-row: 5 / 7;
            align-self: flex-start;
            justify-self: center;
        }
    }

}

.item-2 {
    &.tri, &.inline-left, &.inline-right, &.inline-bottom{
        grid-column: 5 / 7;
        grid-row: 4 / 6;
        justify-self: flex-end;
        align-self: baseline;

        @include mediaQuery(SMARTPHONE) {
            grid-column: 4 / 6;
            grid-row: 7 / 9;
            justify-self: center;
            align-self: normal;
        }
    }
}

.item-3 {
    &.tri, &.inline-left, &.inline-right, &.inline-bottom{
        grid-column: 3 / 4;
        grid-row: 5 / 7;
        justify-self: flex-start;
        margin-top: -20px;

        @include mediaQuery(SMARTPHONE) {
            margin-top: 0px;
            grid-column: 3 / 5;
            grid-row: 9 / 11;
            justify-self: center;
        }
    }
}

.item-4 {
    &.tri, &.inline-left, &.inline-right, &.inline-bottom{
        grid-column: 1 / 3;
        grid-row: 6 / 8;
        // justify-self: flex-start;
        align-self: center;

        @include mediaQuery(SMARTPHONE) {
            grid-column: 2 / 4;
            grid-row: 11 / 13;
            justify-self: center;
            align-self: normal;
        }
    }
}

.item-5 {
    &.tri{
        grid-column: 5 / 7;
        grid-row: 6 / 8;
        // justify-self: flex-end;
        align-self: baseline;

        @include mediaQuery(SMARTPHONE) {
            grid-column: 3 / 5;
            grid-row: 13 / 15;
            justify-self: center;
            align-self: normal;
        }
    }
}

.item-6 {
    &.tri{
        grid-column: 3 / 4;
        grid-row: 7 / 9;
        justify-self: flex-start;
        margin-top: -20px;

        @include mediaQuery(SMARTPHONE) {
            margin-top: 0px;
            grid-column: 4 / 6;
            grid-row: 15 / 17;
            justify-self: center;
        }
    }
}

.description-wrapper {
    grid-column: 2/6;
    grid-row: 3/5;
    align-self: flex-end; 
    
    @include mediaQuery(SMARTPHONE) {
        grid-column: 1 / 7;
        grid-row: 3 / 5;
    }
}

.description-card {
    @include colors(background-color, bg);
    padding: 50px;
    position: relative;
    z-index: 8;
    // width: 100%;
    border-top: 1px dashed;
    @include colors(border-top-color, secondary);
    border-right: 1px solid;
    @include colors(border-right-color, secondary);
    border-bottom: 1px solid;
    @include colors(border-bottom-color, secondary);

    & > p {
        position: relative;
        z-index: 100;
    }

    @include mediaQuery(SMARTPHONE) {
        padding: 25px;
        font-size: 1.2rem;
        text-align: center;
    }

    //line decorations for text container
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
    }
    
    &::before {
        width: 96%;
        height: 70%;
        left: 0;
        top: 15%;
        border-top: 1px solid;
        @include colors(border-top-color, secondary);
        border-right: 1px dashed;
        @include colors(border-right-color, secondary);
        border-bottom: 1px dashed;
        @include colors(border-bottom-color, secondary);
        border-left: 1px solid;
        @include colors(border-left-color, secondary);
    }
    
    &::after {
        width: 100%;
        height: 13%;
        right: 0;
        border-left: 1px solid;
        @include colors(border-left-color, secondary);
    }
}